.modal {
    display: none; /* Initially hide the modal */
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(223, 214, 214, 0.9);
  }
  
  .modal-content {
    background-color: #c0acac;
    background: none;
    margin: 15% auto;
    padding: 20px;
    /* border: 1px solid #888; */
    width: 60%;
    max-width: 500px;
  }
  
  .close {
    color: #f5f1f1;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
  }
  
  .close:hover,
  .close:focus {
    color: rgb(27, 114, 212);
    text-decoration: none;
    cursor: pointer;
  }
  
  .show {
    display: block; /* Show the modal when isVisible is true */
  }
  